:root {
  --body-background-color: rgb(214, 211, 211);
  --container-border-color: rgb(128, 128, 128, 0.4);
  --left-div-background-color: rgb(253, 248, 248);
  --left-div-border-right-color: gray;
  --center-div-background-color: white;
  --right-div-background-color: rgb(146, 65, 252);
  --inner-div-border-color: rgb(128, 128, 128, 0.3);
  --inner-div-hover-background-color: rgb(209, 206, 206);
  --add-btn-background-color: #201b21;
  --task-btn-background-color: rgb(255, 99, 71);
  --scrible-btn-background-color: rgb(0, 128, 0);
  --share-btn-bacground-color: rgb(255, 165, 0);
  --ql-toolbar-ql-snow-background-color: rgb(124, 45, 203);
  --inner-div-delete-btn-background-color: rgb(247, 78, 78);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background-color);
}

.container {
  border: 1px solid var(--container-border-color);
  width: 90%;
  height: 600px;
  border-radius: 20px;
  display: flex;
  margin-top: 3%;
  margin-left: 5%;
  position: relative;
}

.left-div {
  width: 100px;
  height: 600px;
  background-color: var(--left-div-background-color);
  border-right: 2px solid var(--left-div-border-right-color);
  border-radius: 20px 0px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.center-div {
  width: 40%;
  height: 600px;
  background-color: var(--center-div-background-color);
  overflow: scroll;
}

.center-div h3 {
  margin-bottom: 20px;
}

.right-div {
  width: 70%;
  height: 600px;
  background-color: var(--right-div-background-color);
  border-radius: 0px 20px 20px 0px;
  text-align: center;
  color: white;
}

.right-div h3 {
  margin-top: 40px;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 5px;
  color: rgb(242 194 60);
  border: none;
  outline: none;
}

.right-div h4 {
  padding-bottom: 50px;
  border: none;
  outline: none;
}

.right-div p {
  padding-top: 30px;
}

.inner-div {
  padding: 10px;
  margin: 5px;
  border: 1px solid var(--inner-div-border-color);
  margin-bottom: 10px;
}

.inner-div:hover {
  background-color: var(--inner-div-hover-background-color);
}

.inner-div:first-child {
  margin-top: 90px;
}

.inner-div h3,
h4,
p {
  padding: 2px;
}

.inner-div h3 {
  font-weight: bold;
}

.add-btn {
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--add-btn-background-color);
  color: white;
  margin-top: 90px;
  margin-left: 25px;
  border: none;
  outline: none;
}

.empty-div {
  width: 260px;
  height: 100px;
  border: 1px solid rgb(128, 128, 128);
}

.task-btn,
.scrible-btn,
.share-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: 25px;
  border-style: none;
}

.task-btn {
  background-color: var(--task-btn-background-color);
}

.scrible-btn {
  background-color: var(--scrible-btn-background-color);
}

.share-btn {
  background-color: var(--share-btn-bacground-color);
}

.btn2:hover,
.btn3:hover,
.btn4:hover,
.btn5:hover {
  width: 35px;
  height: 35px;
}

i {
  font-size: 20px;
  color: white;
}

.ql-container {
  height: 63% !important;
  border: none !important;
  outline: none !important;
}

.center-div::-webkit-scrollbar {
  display: none;
}

.ql-toolbar.ql-snow {
  background-color: var(--ql-toolbar-ql-snow-background-color);
  margin: 0 35px 0 30px;
  border: none !important;
  outline: none !important;
}

.ql-snow .ql-stroke {
  stroke: orange !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: 'Normal';
  color: orange !important;
  font-size: 20px;
}

.add-btn:hover .tooltiptext {
  visibility: visible;
}

#canvas {
  box-sizing: border-box;
  border: 1px solid black !important;
  background-color: rgb(250, 250, 250);
  height: 300px !important;
  width: 825px !important;

}

.upper-canvas {
  height: 300px !important;
  width: 825px !important;
}

.canvas-clear-btn {
  margin-top: 200px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.inner-div-delete-btn {
  margin-left: 400px;
  padding: 0px 5px;
  background-color: var(--inner-div-delete-btn-background-color);
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
}

.three-dot i {
  color: black;
  margin-left: 400px;
}
.selected{
  background-color: rgb(146, 65, 252);
}
.active{
  background-color: red;
}